body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #303030;
}
.header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
}
.navbar {
    background-color: #ffffff;
    overflow: hidden;
    text-align: center;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
}
.navbar a:hover {
    background-color: #ffffff;
}
.container {
    overflow: hidden;
    padding: 20px;
}
.sidebar {
    float: left;
    width: 25%;
    background-color: #ffffff;
    padding: 15px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.sidebar li {
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
}
.content {
    float: right;
    width: 70%;
    background-color: white;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #ffffff;
    color: #000000;
    text-align: center;
    padding: 10px 0;
}
